# exclude 

/docs/diagramas
/docs/imagenes
/docs/otros
/docs/mantemp
/src/facePal/*.iml
/src/facePal/.gradle
/src/facePal/local.properties
/src/facePal/.idea/workspace.xml
/src/facePal/.idea/libraries
/src/facePal/.DS_Store
/src/facePal/build
/src/facePal/captures
/src/facePal/.externalNativeBuild
/src/FCModule/build
/src/FCModule/dist
/src/FCModule/FCModule.egg-info
/src/FCModule/FCModule/__pycache__